#!/bin/sh

[Unit]
Description=Hueb Web App
After=network.target

[Service]
PIDFile=/var/run/hueb.pid
User={{ user_name }}
Group={{ user_group }}
ExecStart=/bin/bash {{ deploy_directory }}/gunicorn_start
Restart=on-abort

[Install]
WantedBy=multi-user.target
