{% extends 'hueb20/__base.html' %}
{% load i18n %}

{% block content %}
{% if True %}
  <div class="flex-col w-full lg:flex-row" style="width: 100%">
    <div class="flex-col w-full lg:flex-row">
      <div class="flex-col pt-8">
        <h1 class="mx-8 mt-32 text-4xl font-thin lg:text-xl md:mt-0" style="margin-left:5%;">
          {% translate "DETAILS ZUR PERSON:" %}
        </h1>
      <div class="min-w-full">
        {% include "hueb20/person_details/person_details.html" %}
      </div>
    </div>
    </div>
  </div>
{% else %}
<div class="fw-full lg:flex-no-wrap lg:flex-none bg-sand-bg" style="margin-left:30%">
        <p class="mx-8 mt-16 text-xl font-bald lg:text-x">
          {% translate "You need to be logged in to access this page. " %}
        </p>
  <a style= "text-align: center;" class="block px-4 py-2 mt-16 align-middle border-4 border-black lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker font-bold border-black hover:border-black"
     @click="overlayOpen = true"> Log in </a>
  </a>
</div>
{% endif %}
{% endblock %}

