 <div :class="{'hidden': !hamburgerOpen}" class="order-last block w-full p-8 text-4xl lg:order-first lg:flex lg:w-auto lg:p-0 lg:text-lg lg:flex-grow lg:justify-between" @click.away="hamburgerOpen = false">

  {#Left aligned menu items#}
  <div>
    {% for menu_item in menu %}
          <a
            class=
              "block py-4 font-bold border-b-4 border-transparent lg:mr-8 lg:my-4 lg:px-2 lg:inline-block
              {% if menu_item.disabled %} opacity-50 cursor-default {% endif %}
              {% if not menu_item.disabled %} hover:border-black {% endif %}
              "
            href="{{menu_item.link}}"
            @click="hamburgerOpen = false">

            {{menu_item.name}}
          </a>
    {% endfor %}
  </div>

  {#Right aligned menu items#}
  <div>



    <a class="block py-4 font-bold border-b-4 pt-12 lg:py-4 border-transparent lg:px-2 lg:my-4 lg:mr-12 lg:inline-block hover:border-black"

    {% if not user.is_authenticated %}
      @click="overlayOpen = true">
      {% if not user.is_authenticated %}Login{% endif %}
    {% else %}
      href="/accounts/logout"> Logout
    {% endif %}




    </a>
  </div>
</div>