{% load static %}

<div class="items-center flex justify-between w-full p-12 bg-gray-bg-darker h-32">
  <a class="text-white text-opacity-50 hover:text-opacity-100 hover:underline" href="https://github.com/bockstaller/hueb">Github</a>
  <a class="text-white text-opacity-50 hover:text-opacity-100 hover:underline" href="https://www.uni-heidelberg.de/impressum.html">Impressum</a>
  <a class="text-white text-opacity-50 hover:text-opacity-100 hover:underline" href="https://www.uni-heidelberg.de/datenschutzerklaerung_web.html">Datenschutzerklärung</a>
  <img class="object-contain h-8 " src="{% static 'hueb20/img/iued.png' %}" alt="IUED Logo">
</div>