{% load static %}
{% load i18n %}
{% load tags %}

<nav
  class="absolute flex flex-row flex-wrap items-center justify-between flex-none w-full shadow-lg lg:flex-no-wrap lg:flex-none bg-sand-bg">

  <div class="flex px-12 lg:hidden">
    <button class="flex p-2 text-black border border-transparent stroke-2 items-centers hover:border-black"
      @click="hamburgerOpen = !hamburgerOpen">
      <svg id="icon-symbol-hamburger" class="w-24 h-24 fill-current " viewBox="0 0 30 30">
        <path d="M24.61,21.69H5.39a1,1,0,0,0,0,2H24.61a1,1,0,0,0,0-2Z"></path>
        <path d="M5.39,16H19.12a1,1,0,0,0,0-2H5.39a1,1,0,0,0,0,2Z"></path>
        <path d="M5.39,8.31H24.61a1,1,0,0,0,0-2H5.39a1,1,0,0,0,0,2Z"></path>
      </svg>
    </button>
  </div>


  {% block top_menu %}
  <div :class="{'hidden': !hamburgerOpen}" class="flex-col order-last w-5/6 lg:flex lg:order-first"
    @click.away="hamburgerOpen = false">
    {#Left aligned menu items#}
    <div class="flex flex-col justify-between ml-8 text-4xl lg:flex-row lg:flex-no-wrap lg:text-lg">
      <div class="flex flex-col lg:flex-row">
        {% for menu_item in menu %}
        <a class="font-bold border-b-4 m-4 p-2 border-transparent
                    {% if menu_item.disabled %} opacity-50 cursor-default {% endif %}
                    {% if not menu_item.disabled %} hover:border-black {% endif %}
                    " href="{{menu_item.link}}" @click="hamburgerOpen = false">

          {{menu_item.name}}
        </a>
        {% endfor %}
      </div>

      {#Right aligned menu items#}
      <div class="flex">
        <a class="p-2 m-4 font-bold border-b-4 border-transparent hover:border-black" {% if not user.is_authenticated %}
          @click="overlayOpen = true">
          {% if not user.is_authenticated %}Login{% endif %}
          {% else %}
          href="{% url 'logout' %}"> Logout
          {% endif %}
        </a>
        <div class="container">
           <div class="p-2 m-4 font-bold">
            <span class="caret"></span>
            <ul>
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for lang in languages %}
                {% if not forloop.last %}
                  <a href="/{{ lang.code }}/{{request.get_full_path|slice:"4:" }}">
                    {{ lang.code }} |
                {% else %}
                  <a href="/{{ lang.code }}/{{request.get_full_path|slice:"4:" }}">
                    {{ lang.code }}
                  </a>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}


  {#Logos#}
  <div class="flex flex-row flex-no-wrap items-center mx-8 lg:mx-12">
    <div class="pr-4 lg:py-2 lg:pr-6">
      <h1 class="text-xl font-light leading-snug lg:text-lg">
        <span class="font-bold">H</span>eidelberger<br>
        <span class="font-bold">Ü</span>bersetzungs<br>
        <span class="font-bold">B</span>ibliographie
      </h1>
    </div>

    <img class="flex object-contain h-24 py-2 lg:h-20 lg:mr-8 " src="{% static 'hueb20/img/logo.png' %}"
      alt="Universität Heidelberg">

  </div>
</nav>

