{% load i18n %}
{% load static %}
<script src="{% url 'javascript-catalog' %}"></script>
<div class="px-16 py-8">
  <div class="pt-2 pb-10">
    <h1 class="text-4xl font-bold uppercase">{% translate "Heidelberger" %} <br> {% translate "Übersetzungsbibliographie" %}</h1>
  </div>

  <div class="flex flex-row">
    <div class="flex-auto w-3/5 pr-8 text-lg leading-relaxed text-gray-900 lg:w-1/2">
        <p class="pb-1">
          {% translate "Im Rahmen der Digital Humanities wird die DFG-geförderte Heidelberger Übersetzungsbibliographie eine Informationsinfrastruktur bereitstellen, die zwei Zwecken dienen soll:" %}
        </p>

        <p class="py-1">
          {% translate "Zunächst geht es um die Zusammenstellung einer Bibliographie von vorwiegend frühneuzeitlichen Übersetzungen aus dem Englischen und Niederländischen ins Deutsche (Erscheinungszeitraum 1450–1850)." %}
        </p>

        <p class="py-1">
          {% translate "Diese soll dann gemeinsam mit zwei Vorgängerprojekten zur romanisch-deutschen und lateinisch-deutschen Übersetzung (Saarbrücker Übersetzungsbibliographie) zu einer Gesamtbibliographie integriert werden, um anderen Forschenden umfassende bibliographische Daten zur Übersetzung ins Deutsche in der frühen Neuzeit und darüber hinaus verfügbar zu machen." %}
        </p>

        <p class="py-1">
          {% translate "Durch die Zusammenführung der dann insgesamt drei Datenbanken (englisch/niederländisch-deutsche HÜB, lateinisch-deutsche SÜB-L, romanisch-deutsche SÜB) wird eine umfassende Übersetzungsbibliographie frühneuzeitlicher nichtfiktionaler Texte mit Lateinisch, Französisch, Italienisch, Spanisch, Portugiesisch, Englisch und Niederländisch als systematisch erfassten Original- und Brückensprachen entstehen, die Forschenden eine umfassende Datenbasis für Untersuchungen verschiedenster Ausrichtung liefern kann. Darüber hinaus soll die entwickelte Infrastruktur zugleich interessierten Kolleginnen und Kollegen für die   Erfassung eigener bibliographischer Daten zur Verfügung gestellt werden." %}
        </p>
    </div>

    <div class="flex-auto w-2/5 pl-8 lg:w-2/5">
      <img class="object-contain w-full" src="{% static 'hueb20/img/relief.jpg' %}">
      <p class="text-xs font-light">
        {% translate 'Übernommen aus "Pluvinel, Antonium: Maneige royal ou l’on peut remarquer la defaut et la perfection du chevalier" mit Genehmigung der Universitäts- und Landesbibliothek Sachsen-Anhalt' %}
      </p>

      <div class="pt-8 ">

        <h2 class="pb-3 text-lg font-extrabold text-gray-900 uppercase">
          {% translate "Kontakt" %}
        </h2>

        <p class="text-sm font-normal text-gray-700">
          <span class="font-bold text-gray-900">{% translate "Projekt-Leitung:" %}</span>
          Prof. Dr. Vahram Atayan <br>
          E-Mail:
            <a class="underline hover:text-red-900" href="mailto:atayan@uni-heidelberg.de">
             atayan@uni-heidelberg.de
            </a>
          <br>
           <span class="font-bold text-gray-900">{% translate "Projekt-Koordination:" %}</span><br>
          Dr. Anne Weber <br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:anne.weber@iued.uni-heidelberg.de">
            anne.weber@iued.uni-heidelberg.de
           </a>
          <br>
          {% translate "und" %} Daniele Moretti<br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:daniele.moretti@iued.uni-heidelberg.de">
            daniele.moretti@iued.uni-heidelberg.de
           </a>
      </p>

      </div>
    </div>
  </div>
</div>