{% load i18n %}
{% load static %}
<script src="{% url 'javascript-catalog' %}"></script>
<script>
  content = document.getElementById("content");
  content.classList.remove("bg-sand-bg");
  content.style.backgroundColor = "{{ tenant_color }}";
</script>
<div class="px-16 py-8">
  <div class="pt-2 pb-10">
    <h1 class="text-4xl font-bold uppercase">{% translate "Germersheimer" %} <br> Übersetzungsbibliographie</h1>
  </div>

  <div class="flex flex-row">
    <div class="flex-auto w-3/5 pr-8 text-lg leading-relaxed text-gray-900 lg:w-1/2">
        <p class="pb-1">
          {% translate "Das DFG-Projekt „Wissenschaftsübersetzungen in Frankreich im Klassischen Zeitalter“ wurde als Teilprojekt des SPP 2130 „Übersetzungskulturen der Frühen Neuzeit“ am Germersheimer Fachbereich für Translation, Sprache und Kultur der Johannes Gutenberg-Universität Mainz gefördert. " %}
        </p>

        <p class="py-1">
          {% translate "Für die Datenbank lieferte das Projekt eine umfassende Sammlung von Wissenschaftsübersetzungen ins Französische aus dem Zeitraum von 1600-1815. Systematisch erfasst wurden dabei Übersetzungen aus den Ausgangssprachen Englisch, Deutsch und Italienisch. " %}
        </p>

        <p class="py-1">
          {% translate "Die Sammlung konzentriert sich ausschließlich auf Übersetzungen in monographischer Form, aus den Bereichen Medizin, Chemie, Physik, Mathematik, Land- und Forstwirtschaft sowie Naturgeschichte. " %}
        </p>

        <p class="py-1">
          {% translate "Durch die Integration in die Heidelberger Übersetzungsbibliographie sollen die Daten einem möglichst großen Publikum zugänglich gemacht werden, um hoffentlich neue Forschungen anzuregen. " %}
        </p>
    </div>

    <div class="flex-auto w-2/5 pl-8 lg:w-2/5">
      <img class="object-contain w-full" src="{% static 'hueb20/img/voltaire.jpg' %}">
      <p class="text-xs font-light">
        {% translate 'Frontispiz von Voltaires Elémens de la philosophie de Newton (1738), gemeinfrei' %}
      </p>

      <div class="pt-8 ">

        <h2 class="pb-3 text-lg font-extrabold text-gray-900 uppercase">
          {% translate "Kontakt" %}
        </h2>

        <p class="text-sm font-normal text-gray-700">
          <span class="font-bold text-gray-900">{% translate "Projektleitung:" %}</span>
          Prof. Andreas Gipper <br>
          E-Mail:
            <a class="underline hover:text-red-900" href="mailto:gipper@uni-mainz.de">
              gipper@uni-mainz.de
            </a>
          <br>
           <span class="font-bold text-gray-900">{% translate "Projektmitarbeitende:" %}</span><br>
           Garda Elsherif <br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:elsherif@uni-mainz.de">
            elsherif@uni-mainz.de
           </a>
          <br>
          {% translate "und" %}Dr. Caroline Mannweiler<br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:mannwei@uni-mainz.de">
            mannwei@uni-mainz.de
           </a>
           <br>
           {% translate "und" %} Zoe Sommerfeld<br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:zsommerf@students.uni-mainz.de ">
            zsommerf@students.uni-mainz.de 
           </a>
           {% translate "und" %} Dr. Diego Stefanelli<br>
          E-Mail:
           <a class="underline hover:text-red-900" href="mailto:distefan@uni-mainz.de ">
            distefan@uni-mainz.de
           </a>
      </p>

      </div>
    </div>
  </div>
</div>