{% load i18n %}
 <div>
  <div class="flex flex-col items-center mt-16 text-5xl md:mt-4 lg:text-lg">
    <h1 class="pb-24 font-light leading-snug lg:pb-12 text-sand-bg lg:text-3xl">
      <span class="font-bold">H</span>eidelberger<br>
      <span class="font-bold">Ü</span>bersetzungs<br>
      <span class="font-bold">B</span>ibliographie
    </h1>


    <form class="flex flex-col items-center w-4/5" method="post" action="{% url 'login' %}">

      {% csrf_token %}

      {% if form.errors %}
        <p class="block w-4/5 p-2 my-8 font-semibold text-center placeholder-opacity-50 lg:my-4 lg:w-1/3 bg-sand-bg text-gray-bg" placeholder>
          Your username and password didn't match. Please try again.
        </p>
      {% endif %}


      <label for="{{ form.username.id_for_label }}" class="hidden" >{% translate "Benutzername:" %}</label>
      <input
        type="text"
        id="{{ form.username.id_for_label }}"
        {% if form.username.value != None %} value="{{ form.username.value }}" {% endif %}
        name="{{ form.username.html_name }}"
        class="block w-4/5 p-2 my-8 font-semibold text-center placeholder-opacity-50 lg:my-4 lg:w-1/3 bg-sand-bg text-gray-bg" placeholder="Benutzername"
        required
      >

      <label for="password" class="hidden">{% translate "Passwort:" %}</label>
      <input
        type="password"
        id="{{ form.password.id_for_label }}"
        {% if form.password.value != None %} value="{{ form.password.value }}"
        {% endif %}
        name="{{ form.password.html_name }}"
        class="block w-4/5 p-2 my-8 font-semibold text-center placeholder-opacity-50 lg:my-4 lg:w-1/3 bg-sand-bg text-gray-bg" placeholder="Passwort"
        required
      >

      <input type="hidden" name="next" value="#">

      <div class="flex justify-center">
        <input type="submit" class="p-2 px-8 my-4 mt-20 font-semibold text-center bg-transparent border-b-8 border-transparent lg:mt-10 lg:text-3xl hover:border-sand-bg text-sand-bg" value="Log in">
      </div>

    </form>
  </div>
</div>
