{% load tags %}
{% load i18n %}

<div class="flex flex-row flex-no-wrap justify-center m-8 mb-16 text-3xl lg:text-xl">

  <div class="{% if not page_obj.has_previous %} invisible {% endif %}">
    <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=1 %}">&laquo; {% translate "erste Seite" %}</a>

    {% if page_obj.has_previous %}
      {% with page_number=page_obj.previous_page_number%}
        <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=page_number%}">{% translate "zurück" %}</a>
      {% endwith %}
    {% else %}
      {% with page_number=page_obj.current_page_number%}
        <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=page_number%}">{% translate "zurück" %}</a>
      {% endwith %}
    {% endif %}

  </div>

  <div>
    <span class="p-2 m-2 border-b-4 border-black"> {% translate "Seite" %} {{ page_obj.number }} {% translate "von" %} {{ page_obj.paginator.num_pages }}.
    </span>
  </div>

  <div class="{% if not page_obj.has_next %} invisible {% endif %}">
    {% if page_obj.has_next %}
      {% with page_number=page_obj.next_page_number%}
        <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=page_number%}">{% translate "vor" %}</a>
      {% endwith %}
    {% else %}
      {% with page_number=page_obj.current_page_number%}
        <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=page_number%}">{% translate "vor" %}</a>
      {% endwith %}
    {% endif %}
    <a class="p-2 m-2 border-b-4 border-transparent hover:border-black" href="?{% param_replace page=page_obj.paginator.num_pages %}">{% translate "letzte Seite" %} &raquo;</a>
  </div>

</div>



