
<div x-data="searchForm()" @click="update()" x-init="() => {init()}" class="flex flex-no-wrap justify-center ">

    <div x-ref="operator">
        {{ form.operator.errors }}
        {{ form.operator }}
    </div>

    <div x-ref="attribute" @change="getAttribute()">
        {{ form.attribute.errors }}
        {{ form.attribute }}
    </div>

    <div x-ref="search_text" x-bind:hidden="!showText()">
        {{ form.search_text.errors }}
        {{ form.search_text }}
    </div>

    <div x-ref="search_year" x-cloak x-bind:hidden="!showYear()">
        {{ form.search_year_from.errors }}
        {{ form.search_year_from }}
        {{ form.search_year_to.errors }}
        {{ form.search_year_to }}
    </div>

    <div x-ref="search_ddc" x-cloak x-bind:hidden="!showDDC()">
        {{ form.search_ddc.errors }}
        {{ form.search_ddc }}
    </div>

    <script>
        function searchForm() {
            return {

                showText(){
                    return (this.attribute !== "year")&&(this.attribute !== "ddc")
                },
                showYear(){
                    return (this.attribute === "year")
                },
                showDDC(){
                    return (this.attribute === "ddc")
                },
                update(){
                    this.showText();
                    this.showDDC();
                    this.showYear();
                },
                operator: null,
                attribute: null,
                setSearchYear(search_year){
                    this.$refs.search_year.lastElementChild.value = search_year;
                },
                setSearchText(search_text){
                    this.$refs.search_text.lastElementChild.value = search_text;
                },
                getOperator(){
                    this.operator = this.$refs.operator.lastElementChild.children[0].value;
                },
                getAttribute(){
                    this.attribute = this.$refs.attribute.lastElementChild.children[0].value;
                },
                init(){
                    this.getOperator();
                    this.getAttribute();
                },
            }
        }
    </script>
</div>


