{% extends 'hueb20/__base.html' %}


{% block content %}
  <div class="flex flex-col w-full lg:flex-row">

    <div class="justify-end pt-8 text-5xl border-black lg:min-h-full lg:text-sand-bg lg:flex-shrink-0 lg:p-8 lg:text-base lg:bg-gray-bg lg:border-sand-bg">

        {% include "hueb20/search/search_django_form.html" %}

    </div>


    <div class="flex flex-col justify-between pt-8">
      <h1 class="mx-8 mt-32 text-4xl font-light lg:text-2xl md:mt-0">
        Ergebnisse
      </h1>

      <div>
        {% for result in object_list%}
          <div>
                {% if result.translations.exists %}
                {% for translation in result.translations.all %}
                  {% with original=result translation=translation %}
                    {% include "hueb20/search/single_result_document.html" %}
                  {% endwith %}
                {% endfor %}
            {% endif %}
            {% if result.originals.exists %}
                {% for original in result.originals.all %}
                  {% with original=original translation=result %}
                    {% include "hueb20/search/single_result_document.html" %}
                  {% endwith %}
                {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div>
        {% include "hueb20/includables/pagination.html" %}
      </div>
    </div>




  </div>
{% endblock %}

