<div x-data="searchFormSet()" class="sticky top-0 overflow-y-scroll">

  <div class="hidden" x-ref="emptyForm">
    {% with form=formset.empty_form %}
      {% include "hueb20/search/search_form.html" %}
    {% endwith %}
  </div>


  <form method="get"  action="{% url 'formset_search' %}">

    <div x-ref="managementForm">
      {{ formset.management_form }}
    </div>

    <div x-ref = "searchFormSet">
      {% for form in formset %}
          {% include "hueb20/search/search_form.html" %}
      {% endfor %}
    </div>




    <div class="flex justify-center ">
      <button type="button" @click="addFormToFormSet()" class="block px-4 py-2 m-4 align-middle border-b-4 border-black lg:border-sand-bg ">

        <p class="inline-block text-3xl font-bold align-middle lg:text-sm"> Filter hinzufügen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </div>
      </button>
    </div>

    <div class="flex justify-center">
      <button class="block px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg" type="submit">

        <p class="inline-block px-4 text-5xl font-bold align-middle md:text-lg"> Suchen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 stroke-current md:w-8 md:h-8" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </div>
      </button>
    </div>
  </form>
</div>



<script>
    function searchFormSet() {
        return {
            getFormCount(){
                return document.getElementsByName("form-TOTAL_FORMS")[0].value
            },
            setFormCount(value){
                document.getElementsByName("form-TOTAL_FORMS")[0].value = value
            },
            addFormToFormSet(){
                var formSet = this.getFormSet()
                var blankForm = this.getBlankForm()
                var clone = blankForm.cloneNode(true);

                var id = Number(this.getFormCount())


                var selects = Array.from(clone.getElementsByTagName('select'))
                selects.forEach(function(item){
                  item.id = item.id.replace("__prefix__", id);
                  item.setAttribute("name", item.id)
                })

                var inputs = Array.from(clone.getElementsByTagName('input'))
                inputs.forEach(function(item){
                  console.log(item)
                  item.id = item.id.replace("__prefix__", id);
                  item.setAttribute("name", item.id)
                })

                formSet.appendChild(clone)
                this.setFormCount(id+1)

            },
            removeFormFromFormSet(){

            },
            getBlankForm(){
              return this.$refs.emptyForm.children[0]
            },
            getFormSet(){
              return this.$refs.searchFormSet
            },

        }
    }


</script>