<div x-data="searchFormSet()" x-init="() => {init()}" class="sticky top-0 overflow-y-scroll">

  <form method="get"  action="{% url 'search' %}">

    <div x-ref="managementForm">
      {{ formset.management_form }}
    </div>

    <div class="flex flex-no-wrap justify-center inline-block text-3xl font-bold align-middle lg:text-sm">
      {{typeform.type}}
    </div>
    
    <div x-ref = "searchFormSet">
      {% for form in formset %}
          {% include "hueb20/search/search_form.html" %}
      {% endfor %}
    </div>

    <div class="flex justify-center " @click="canAddForm(); canRemoveForm()">
      <button type="button" @click="addFormToFormSet()" class="block px-4 py-2 m-4 align-middle border-b-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker disabled:cursor-not-allowed disabled:opacity-50" x-bind:disabled="!addform">

        <p class="inline-block text-3xl font-bold align-middle lg:text-sm"> Filter hinzufügen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </div>
      </button>

      <button type="button" @click="removeFormFromFormset()" class="block px-4 py-2 m-4 align-middle border-b-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker disabled:cursor-not-allowed disabled:opacity-50" x-bind:disabled="!removeform">

        <p class="inline-block text-3xl font-bold align-middle lg:text-sm"> Filter entfernen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M18 12H6"  />
          </svg>
        </div>
      </button>
    </div>

    <div class="flex flex-no-wrap justify-center inline-block text-3xl font-bold align-middle lg:text-sm shadow-lg hover:shadow-xl">
      {{sortform.sort_attribute}}
      {{sortform.sort_type}}
      {{sortform.sort_direction}}
    </div>

    <div class="flex justify-center">
      <button class="block px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker" type="submit">

        <p class="inline-block px-4 text-5xl font-bold align-middle md:text-lg"> Suchen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 stroke-current md:w-8 md:h-8" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </div>
      </button>
    </div>
  </form>

  <div class="hidden" x-ref="emptyForm">
    {% with form=formset.empty_form %}
      {% include "hueb20/search/search_form.html" %}
    {% endwith %}
  </div>

<script>
    function searchFormSet() {
        return {
            addform: null,
            removeform: null,

            canRemoveForm(){
              var formcount = this.getFormCount()
              var new_formcount = formcount - 1
              this.removeform = this.getMinFormCount() <= new_formcount
              return this.removeform
            },
            canAddForm(){
              var count = this.getFormCount()
              this.addform = count < this.getMaxFormCount()
              return this.addform
            },
            getMaxFormCount(){
              return Number(document.getElementsByName("form-MAX_NUM_FORMS")[0].value)
            },
            getMinFormCount(){
              return Number(document.getElementsByName("form-MIN_NUM_FORMS")[0].value)
            },
            getFormCount(){
                return Number(document.getElementsByName("form-TOTAL_FORMS")[0].value)
            },
            setFormCount(value){
                document.getElementsByName("form-TOTAL_FORMS")[0].value = value
            },
            addFormToFormSet(){
                if (this.canAddForm()){
                  var formSet = this.getFormset()
                  var blankForm = this.getBlankForm()
                  var clone = blankForm.cloneNode(true);

                  var id = this.getFormCount()
                  var selects = Array.from(clone.getElementsByTagName('select'))
                  var inputs = Array.from(clone.getElementsByTagName('input'))

                  selects.concat(inputs).forEach(function(item){
                    item.id = item.id.replace("__prefix__", id);
                    item.id = item.id.replace("id_", "");
                    item.setAttribute("name", item.id)
                  })

                  formSet.appendChild(clone)
                  this.setFormCount(id+1)
                }

            },
            removeFormFromFormset(){
                if (this.canRemoveForm() ){
                  var formcount = this.getFormCount()
                  var new_formcount = formcount - 1
                  var formset = this.getFormset()
                  formset.removeChild(formset.lastElementChild)
                  this.setFormCount(new_formcount)
                }
            },
            getBlankForm(){
              return this.$refs.emptyForm.children[0]
            },
            getFormset(){
              return this.$refs.searchFormSet
            },
            init(){
              this.canRemoveForm()
              this.canAddForm()
            }

        }
    }


</script>



</div>


