{% extends 'hueb20/__base.html' %}
{% load i18n %}
<script src="{% url 'javascript-catalog' %}"></script>
{% block content %}
{% if True %}


  <div class="flex flex-col w-full lg:flex-row">

    <div class="justify-end pt-8 text-3xl border-black lg:min-h-full lg:text-sand-bg lg:flex-shrink-0 lg:p-8 lg:text-base lg:bg-gray-bg lg:border-sand-bg">

      {% include "hueb20/search/search_formset.html" %}

    </div>


    <div class="flex flex-col pt-8">
      <h1 class="mx-8 mt-32 text-4xl font-light lg:text-2xl md:mt-0">
        {{ page_obj.paginator.count }}&nbsp;
        {% if page_obj.paginator.count == 1 %}
          {% translate "Ergebnis" %}
        {% else %}
          {% translate "Ergebnisse" %}
        {% endif %}
      </h1>

      <div>
        {% for result in object_list%}
          {% if result.document_from is None or result.document_to is None %}
            <div>
              {% with original=result.document_from translation=result.document_to %}
                {% include "hueb20/search/single_result_document.html" %}
              {% endwith %}
            </div>
          {% elif result.document_from.get_document_type != result.document_from.BRIDGE and result.document_to.get_document_type != result.document_to.BRIDGE %} 
              <div>
                {% with original=result.document_from translation=result.document_to %}
                  {% include "hueb20/search/single_result_document.html" %}
                {% endwith %}
              </div>

          {% elif result.document_to.get_document_type == result.document_to.BRIDGE and result.document_from.get_document_type != result.document_from.BRIDGE %}
          <div>
            {% for trans in result.document_to.get_translation %}
              {% with original=result.document_from bridge=result.document_to translation=trans %}
                {% include "hueb20/search/bridge_result_document.html" %}
              {% endwith %}
            {% endfor %}
          </div>
                  
          {% elif result.document_from.get_document_type == result.document_from.BRIDGE and result.document_to.get_document_type != result.document_to.BRIDGE %}
              <div>
                {% for orig in result.document_from.get_originals%}
                  {% with original=orig bridge=result.document_from translation=result.document_to %}
                    {% include "hueb20/search/bridge_result_document.html" %}
                  {% endwith %}
                {% endfor %}
              </div>
          {% endif %}

        {% endfor %}
      </div>

      <div>
        {% include "hueb20/includables/pagination.html" %}
      </div>
    </div>

  </div>
{% else %}
<div class="fw-full lg:flex-no-wrap lg:flex-none bg-sand-bg" style="margin-left:30%">
        <p class="mx-8 mt-16 text-xl font-bald lg:text-x">
          {% translate "You need to be logged in to access this page." %}
        </p>
  <a style= "text-align: center;" class="block px-4 py-2 mt-16 align-middle border-4 border-black lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker font-bold border-black hover:border-black"
     @click="overlayOpen = true"> Log in </a>
  </a>
</div>
{% endif %}

<script defer>
  var coll = document.getElementsByClassName("collapsible2");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display == "none"){
        content.style.display = null;
      } else {
        content.style.display = "none";
      } 
    });
  }
  
</script>

{% endblock %}

