<div class="sticky top-0 overflow-y-scroll">

  <form method="get" action="{% url 'search' %}">

    <div class="flex justify-center">

      <input class="flex p-2 mx-2 my-2 font-medium text-center placeholder-black placeholder-opacity-25 bg-transparent border-b-4 border-black rounded-none appearance-none lg:placeholder-opacity-25 lg:border-sand-bg lg:placeholder-sand-bg " type="search" name="filter" value="{{filter}}"  placeholder="Suchbegriff">
    </div>

    <div class="flex justify-center">
      <button class="block px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg" type="submit">

        <p class="inline-block px-4 text-3xl font-bold align-middle lg:text-lg"> Suchen </p>
        <div class="items-center inline-block align-middle pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 stroke-current md:w-8 md:h-8" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </div>
      </button>
    </div>
  </form>
</div>