#!/bin/sh

file_name=postgres_dump

current_time=$(date "+%Y.%m.%d-%H.%M.%S")
echo "Current Time : $current_time"

new_fileName=/db_dumps/$file_name.$current_time.gz
echo "New FileName: " "$new_fileName"

$new_fileName
/usr/lib/postgresql/12/bin/pg_dump {{ django_db }} | gzip > $new_fileName