
{% load static %}
<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset = "UTF-8">
    {% block title %}
    <title>Heidelberger Übersetzungs Bibliographie</title>
    {% endblock  %}
    <link rel = "stylesheet"
    type = "text/css"
    href = "{% static "hueb20/hueb20.css" %}" />
  </head>


  <body class="min-w-full min-h-full" x-data="{ hamburgerOpen: false, overlayOpen: {{overlayOpen | lower}} }">

    <div class="w-full h-full">
      {# Overlay #}
      <template x-if="overlayOpen">
        <div class="fixed top-0 left-0 z-20 flex flex-col w-full h-full bg-gray-bg-darker"
        x-transition:enter="transition ease-in-out duration-500 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in-out duration-500 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full" x-cloak>
          {# Overlay Close Button #}
          <div class="block" >
            <button class="p-8" @click="overlayOpen = false">
                <svg id="close_cross" class="w-24 h-24 m-4 font-bold transition duration-300 ease-in-out transform fill-current stroke-2 text-sand-bg lg:w-12 lg:h-12 hover:rotate-90" viewBox="0 0 30 30">
                  <path d="M16.41,15,24,7.37A1,1,0,0,0,22.63,6L15,13.59,7.37,6A1,1,0,0,0,6,7.37L13.59,15,6,22.63A1,1,0,1,0,7.37,24L15,16.41,22.63,24A1,1,0,0,0,24,22.63Z">
                  </path>
                </svg>
            </button>
          </div>

          {% block overlay %}
            {% include "hueb20/includables/overlay_login.html" %}
          {% endblock %}

        </div>
      </template>


    {#Main Div#}
    <div class="flex flex-col w-full h-screen"  @keydown.escape="hamburgerOpen = false; overlayOpen = false">

      {#Menu Bar#}

      {% include "hueb20/index/index_menu.html" %}




      {#Content#}
      <div class="flex flex-auto bg-sand-bg">

        {% block content %}

        {% endblock %}

      </div>

      {#Footer#}
      <div class="flex flex-initial ">
        {% block footer %}
          {% include "hueb20/index/index_footer.html" %}
        {% endblock %}
      </div>

    </div>

  </body>

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</html>
