worker_processes 1;

events {
	worker_connections 4096;
}

http {

	server_tokens off;
	sendfile on;
	charset utf-8;
	tcp_nopush on;
	tcp_nodelay on;
	client_max_body_size 100M;

	log_format private '[$time_local] $host "$request" $status $body_bytes_sent';

  access_log /var/log/nginx/access.log private;
	error_log /var/log/nginx/error.log;
	add_header Referrer-Policy same-origin;

  server {
      listen 80 default_server;
      listen [::]:80 default_server ipv6only=on;

      server_name _;

      return 301 https://$host$request_uri;
  }

  server {
      listen 443 ssl http2;
      listen [::]:443 ssl http2 ipv6only=on;
      gzip off;

      server_name {{url}};

      ssl_certificate_key /etc/letsencrypt/live/{{url}}/privkey.pem;
      ssl_trusted_certificate /etc/letsencrypt/live/{{url}}/chain.pem;
      ssl_certificate /etc/letsencrypt/live/{{url}}/fullchain.pem;

      ssl_session_cache shared:le_nginx_SSL:1m;
      ssl_session_timeout 1d;
      ssl_session_tickets off;

      ssl_protocols TLSv1.2;
      ssl_prefer_server_ciphers on;
      ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
      ssl_ecdh_curve secp384r1;

      ssl_stapling on;
      ssl_stapling_verify on;

      add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;";
      add_header Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; script-src 'self' https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js; img-src 'self'; style-src 'self'; base-uri 'self'; form-action 'self';";
      add_header Referrer-Policy "no-referrer, strict-origin-when-cross-origin";
      add_header X-Frame-Options SAMEORIGIN;
      add_header X-Content-Type-Options nosniff;
      add_header X-XSS-Protection "1; mode=block";


      location / {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_set_header Host {{url}};
          proxy_set_header X-Real-IP $remote_addr;

          proxy_pass http://hueb:8000;

      }


    }

}