{% extends 'hueb20/__base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% if True %}
  <div class="flex-col w-full lg:flex-row" style="width: 100%">
    <div class="flex-col w-full lg:flex-row">
      <div>
        <div class="flex flex-row flex-no-wrap items-center mx-8 lg:mx-12" style="margin-left: 5rem; margin-top: 3rem">
          {% if object.app == "HUEB20" %}
          <img class="object-contain" style="height: 4rem" src="{% static 'hueb20/img/logo.png' %}" alt="Logo">
          <div class="pr-4 lg:py-2 lg:pr-6" style="margin-left: 2rem; ">
            <h1 class="text-xl font-light leading-snug lg:text-2xl">
              <span class="font-bold">H</span>eidelberger
              <span class="font-bold">Ü</span>bersetzungs
              <span class="font-bold">B</span>ibliographie
            </h1>
          </div>
          {% endif %}
        </div>
        <div class="min-w-full">
          {% include "hueb20/document_details/document_details.html" %}
        </div>
      </div>
    </div>

    <div class="justify-end pt-8 text-5xl border-black lg:min-h-full lg:text-sand-bg lg:flex-shrink-0 lg:p-8 lg:text-base lg:bg-gray-bg lg:border-sand-bg">
        {% include "hueb20/document_details/export_formset.html" %}
    </div>
  </div>
{% else %}
<div class="fw-full lg:flex-no-wrap lg:flex-none bg-sand-bg" style="margin-left:30%">
        <p class="mx-8 mt-16 text-xl font-bald lg:text-x">
          {% translate "You need to be logged in to access this page. " %}
        </p>
  <a style= "text-align: center;" class="block px-4 py-2 mt-16 align-middle border-4 border-black lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker font-bold border-black hover:border-black"
     @click="overlayOpen = true"> Log in </a>
  </a>
</div>
{% endif %}
{% endblock %}

