{% load i18n %}

<style>
  dt{
    border-top: 3px solid white;
    margin-left: 5%;
    font-size: x-large;
    underline: 3px solid black;
  }
  dd{
    text-align:justify;
    margin-left: 7%;
    margin-right:10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #171717;
  color: #f4f1ea;
  font-size: 0.875rem;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.negative-indent{
    margin-left: 40px;
    text-indent: -40px;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="flex flex-auto min-w-full m-10" xmlns:max-width="http://www.w3.org/1999/xhtml">

 <!-- <h1 class="h-full p-6 mr-6 text-2xl font-bold lg:text-lg">1.</h1> -->
  <div class="min-w-full justify-between flex-auto w-2/5 p-6 px-20 bg-opacity-25 bg-sand-300 ">
    <dl>
        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Titel:" %}</h2></dt>
        <dd><h2 class="text-xl font-semibold lg:text-l">{{object.title|default_if_none:"-"}}</h2></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Untertitel:" %}</h2></dt>
        <dd><p class="text-xl lg:text-l">
          {% if object.subtitle != "" %}
          {{object.subtitle}}
          {% else %}
          {{"-"}}
          {% endif %}
        </p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Ausgabe:" %}</h2></dt>
        <dd><p class="text-xl lg:text-l">
          {% if object.edition is not None and object.edition != "" %}
          {{object.edition}}
          {% else %}
          {{"-"}}
          {% endif %}
        </p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Erscheinungsjahr:" %}</h2></dt>
        <dd><p class="text-xl lg:text-l">

          {% if object.written_in.lower == None and object.written_in.upper == None %}
             -
          {% elif object.written_in.lower|add:"+1" == object.written_in.upper %}
            {{object.written_in.lower}}
          {% else %}

            {% if object.written_in.lower == None %}
              ...
            {% else %}
              {{object.written_in.lower}}
            {% endif %}

            {% if object.written_in.upper == None %}

            {% else %}
              - {{object.written_in.upper|add:"-1"}}
            {% endif %}
          {% endif %}

        </p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Originalsprache:" %}</h2></dt>
        <dd><p class="text-xl lg:text-l">
            {% if object.language_orig is not None %}
                {{ object.get_language_orig }}
            {% else %}
                {{object.get_original_language|default_if_none:" - "}}
            {% endif %}
        </p></dd>

        {% if object.get_document_type == object.TRANSLATION %}
          <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Übersetzungsprache:" %}</h2></dt>
          <dd><p class="text-xl lg:text-l">{{object.language|default_if_none:" - "}}</p></dd>
        {% endif %}

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Kulturkreis:" %}</h2></dt>
        <dd><p class="text-xl lg:text-l">{{object.cultural_circle|default_if_none:" - "}}</p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Author:" %}</h2></dt>
        <dd><p class="text-xl break-words lg:text-l font-bold tooltip" style="width: 100%">
          {% if object.get_original_authors %}
            {% for author in object.get_original_authors %}
              <a href="{% url "personDetailView" author.person.id %}">
              <span style="float: left;">
              {{author.person}}
              </span>
              <span style="float: right;">
              {% include "hueb20/widgets/hyperlink.html" %}
              </span></a><br>
              <span class="tooltiptext">{% translate "Mehr" %}</span>
            {% endfor %}
          {% else %}
             -
          {% endif %}
        </p></dd>

        {% if object.get_document_type is not object.ORIGINAL %}
          <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Übersetzer:" %}</h2></dt>
          <dd><p class="text-xl break-words lg:text-l font-bold tooltip" style="width: 100%">
            {% if object.get_authors.exists %}
              {% for contribution in object.get_authors.all %}
                  <a href="{% url "personDetailView" contribution.person.id %}">
                  <span style="float: left;">
                    {{contribution.person}}
                  </span>
                  <span style="float: right;">
                    {% include "hueb20/widgets/hyperlink.html" %}
                  </span></a><br>
                  <span class="tooltiptext">{% translate "Mehr" %}</span>
              {% endfor %}
            {% else %}
               -
            {% endif %}
          </p></dd>
        {% endif %}

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Verlag:" %}</h2></dt>
        <dd><p class="text-xl break-words lg:text-l">
          {% if object.get_publishers.exists %}
            {% for contribution in object.get_publishers.all %}
                {{contribution.person}}<br>
            {% endfor %}
          {% else %}
            -
          {% endif %}
        </p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Erscheinungsort:" %}</h2></dt>
        <dd><p class="text-xl break-words lg:text-l">
          {%if object.published_location is not None and object.published_location != "" %}
            {{ object.published_location }}
          {% else %}
           -
          {% endif %}
        </p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "DDC:" %}</h2></dt>
        <dd><p class="text-xl break-words lg:text-l">{{object.ddc|default_if_none:" - "}}</p></dd>

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Standorte:" %}</h2></dt>
        {% if object.get_filings.exists %}
          <dd><p class="text-xl break-words lg:text-l">
            {% for filing in object.get_filings.all %} <!--lame implementation in model document.py wont work for linked douments -->
              {% if filing.link is not None%}<!--a href = {{filing.link}}><p class="block text-5xl font-bold md:text-lg">{{filing.archive}}</p></a-->
              {% else %}
                <p class="text-xl break-words lg:text-l" style="margin-bottom: 2%">
                  {{filing.archive}}
                   <br>
                </p>
              {% endif %}
            {% endfor %}
          </p></dd>
        {% else %}
          <dd><p class="block text-5xl font-bold md:text-lg"> {{" - "}}</p>
          </dd>
        {% endif %}

        {% if object.get_document_type is object.ORIGINAL %}
          <dt><h2 class="text-xl font-thin lg:text-l">
            {% translate "Übersetzung:" %}
          </h2></dt>
           <dd><p class="text-xl break-words lg:text-l font-bold" style="width: 100%">
              {% for linkedDoc in object.get_translation %}
                {% if linkedDoc.get_document_type is object.BRIDGE %}
                    {% for translation in linkedDoc.get_translations %}
                      <a href="{% url "documentDetailView" translation.id %}"><table>
                        <div style="float: left; width:90%">
                          <p class="negative-indent block text-5xl font-bold md:text-lg tooltip">
                            {{translation.title}}
                          </p>
                        </div>
                        <div style="float: right; width:10%;">
                          {% include "hueb20/widgets/hyperlink.html" %}
                        </div></table></a>
                      <br>
                    {% endfor %}
                {% endif %}</p>
                <a href="{% url "documentDetailView" linkedDoc.id %}"><table>
                   <div style="float: left; width:90%">
                        <p class="negative-indent block text-5xl font-bold md:text-lg">
                            {{linkedDoc.title}}
                        </p>
                    </div>
                    <div style="float: right; width:10%">
                        {% include "hueb20/widgets/hyperlink.html" %}
                    </div>
               </table></a><br>
            {% endfor %}
          </p></dd>

        {% else %}
          <dt><h2 class="text-xl font-thin lg:text-l">
            {% translate "Original:" %}
          </h2></dt>
          <dd>
            <p class="text-xl break-words lg:text-l font-bold tooltip" style="width: 100%">
                {% if not object.originals.exists %}
                -
                {% else %}
                  {% for linkedDoc in object.originals.all %}
                  {% if linkedDoc.get_document_type is object.BRIDGE %}
                        {% for orig in linkedDoc.originals.all %}
                          <a href="{% url "documentDetailView" orig.id %}"><table>
                            <div style="float:left; width:90%">
                              <p class="negative-indent block md:text-lg text-xl break-words lg:text-l font-bold tooltip">
                                {{orig.title}}
                              </p>
                            </div>
                            <div style="float:right; width:10%">
                              {% include "hueb20/widgets/hyperlink.html" %}
                            </div>
                          </table></a><br>
                        {% endfor %}
                  {% elif linkedDoc.get_document_type is object.ORIGINAL %}
                    <a href="{% url "documentDetailView" linkedDoc.id %}"><table>
                      <div style="float: left; width: 90%">
                        <p class="negative-indent block md:text-lg text-xl break-words lg:text-l font-bold tooltip">
                          {{linkedDoc.title}}
                        </p>
                      </div>
                      <div style="float: right; width: 10%">
                        {% include "hueb20/widgets/hyperlink.html" %}
                      </div>
                    </table></a><br>
                  {% endif %}
                  {% endfor %}
                {% endif %}
            </p></dd>
        {% endif %}
        {% if object.get_document_type is object.TRANSLATION  %}
          {% if object.originals.exists %}
            {% if object.originals.first.get_document_type is object.BRIDGE %}
                <dt><h2 class="text-xl font-thin lg:text-l">
                {% translate "Brückenübersetzung:" %}
                </h2></dt>
                <dd><p class="text-xl break-words lg:text-l font-bold tooltip" style="width: 100%">
                {% for bridge in object.originals.all %}
                <a href="{% url "documentDetailView" bridge.id %}"><table>
                  <div style="float: left; width: 90%">
                    <p class="negative-indent block md:text-lg text-xl break-words lg:text-l font-bold tooltip">
                      {{bridge.title}}
                    </p>
                  </div>
                  <div style="float: right; width: 10%">
                    {% include "hueb20/widgets/hyperlink.html" %}
                  </div>
                </table></a><br>
                {% endfor %}
                </p></dd>
            {% endif %}
            {% endif %}
        {% endif %}
        {% if object.get_document_type is object.BRIDGE  %}
          <dt><h2 class="negative-indent text-xl font-thin lg:text-l">
            {% translate "Übersetzung:" %}
          </h2></dt>
          <dd>
            <p class="text-xl break-words lg:text-l font-bold tooltip" style="width: 100%">
              {% for linkedDoc in object.translations.all %}
                <a href="{% url "documentDetailView" linkedDoc.id %}"><table>
                  <div style="float: left; width: 90%">
                    <p class="block md:text-lg text-xl break-words lg:text-l font-bold tooltip">
                      &emsp;{{linkedDoc.title}}
                    </p>
                  </div>
                  <div style="float: right; width: 10%">
                    {% include "hueb20/widgets/hyperlink.html" %}
                  </div>
                </table></a><br>
              {% endfor %}
            </p></dd>
        {% endif %}

        <dt><h2 class="text-xl font-thin lg:text-l">{% translate "Kommentare:" %}</h2></dt>
        {% if object.document_comment.exists %}
          <dd><p class="text-xl break-words lg:text-l">
            {% for comment in object.document_comment.all %}
              {% if comment.external %}
                &emsp;{{comment.text}}
                <br>
              {% endif %}
            {% endfor %}
          </p></dd>
        {% else %}
          <dd><p class="block text-5xl md:text-lg">{{"-"}}</p>
          </dd>
        {% endif %}
    </dl>
    </div>
  </div>
</div>