{% load i18n %}
<style>
.list-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.collapsible {
  text-color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  background-color: #f4f1ea;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

</style>

<div x-data="exportData()" x-init="() => {init()}" class="sticky top-0">

  <form method="get"  >

    <div x-ref="managementForm">
      {{ formset.management_form }}
    </div>

  <div class="list-container">
    <div class="list justify-center">
      <button class="list-item block px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker" onclick="window.open('{% url "docBib" object.id %}')">
        <p class="inline-block px-4 text-5xl font-bold align-middle md:text-lg" style="text-align:left">Export .bib</p>
      </button>
    <!--/div-->

    <!--div class="flex justify-center"-->
      <button class="list-item block px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker" onclick="window.open('{% url "docCsv" object.id %}')" >
        <a href="{% url "docCsv" object.id %}">
        <p class="inline-block px-4 text-5xl font-bold align-middle md:text-lg" style="text-align:center"> Export .csv </p>
        </a>
      </button>
    <!--/div-->
    {% if object.filing_set.exists %}
      {% for filing in object.filing_set.all %} <!--lame implementation in model document.py wont work for linked douments -->
        {% if filing.link is not None %}
          <!--div class="flex justify-center"-->
            <button class="list-item flex px-4 py-2 m-4 align-middle border-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker">
              <a onclick="window.open(this.href,'_blank');return false;" href = {{filing.link}}>
                <p class="inline-block px-4 text-5xl font-bold align-middle md:text-lg">Online-Version</p>
              </a>
            </button>
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>
    </div>

  </form>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <button type="button" class="collapsible shadow-lg border-b-4 border-black lg:border-sand-bg lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker ">
      <p class="px-3 inline-block text-3xl font-bold align-middle lg:text-sm">{% translate "Help" %}</p>
    </button>
    <div class="content" style="color:black">
      <p>{% translate "" %}</p>
    </div>

</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>