{% extends 'hueb20/__base.html' %}
{% load i18n %}
{% block content %}
{% if True %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .alert{margin: auto; width: 90%; align: center; border:1px solid transparent;border-radius:4px; opacity: 1; transition: opacity 0.6s; /* 600ms to fade out */}
    .alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
    .closebtn {
      margin-left: 15px;
      color: #a94442;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    /* When moving the mouse over the close button */
    .closebtn:hover {
      color: black;
    }

    /*--thank you pop ends here--*/
    .slideshow-container{
        position: relative;
    }
    .prev{
        cursor: pointer;
        top: 50%;
        margin-top: -30px;
        position:absolute;
        border-radius: 0 3px 3px 0;
        left:0;
    }
    .next{
        cursor: pointer;
        top: 50%;
        margin-top: -30px;
        right:0;
        border-radius: 0px 0 0 0px;
        position:absolute;
    }
    input[type=submit] {
      color: white;
      border: none;
      cursor: pointer;
    }
    input[type=text], input[type=submit] {
      width: 90%;
      padding: 12px;
      margin:8px 0;
      margin-left: 5%;
      display: inline-block;
      box-sizing: border-box;
    }
    input[type=text]{
      color: black;
    }
    input::placeholder{
      color: #909090;
      font-weight: bold;
    }
    form {
      font-family: Arial;
    }
    input[type=submit]:hover {
      opacity: 0.8;
    }
     .button {
        background-color: #A91E1E; /*383838*/
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 0px;
      }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .tr_right{
        border-radius: 0px;
        background-color: #e6dfd0;
        border-color: #e6dfd0;
        border-width: 10px;
        border-style: solid;
        overflow: hidden;
        margin-bottom:10px;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: #383838;
      color: white;
      cursor: pointer;
      padding: 8px;
      width: 97%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      border-radius: 0px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover, .button:hover{
      background-color: #777;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0px 15px;
      margin-bottom: 2%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .collapsible:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212"; /* Unicode character for "minus" sign (-) */
    }

    .modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
    .modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
    .modal-container{padding:0.01em 16px}
    .animate-zoom{animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
    .modal-center{display:inline-block;width:auto}
    .wide{letter-spacing:4px}
    .modal-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
    .modal-white{color:#000!important;background-color:#fff!important}
    .card{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
</style>
  <div style="width: 75%; margin:0 auto;">
    <div class="fw-full lg:flex-no-wrap lg:flex-none bg-sand-bg" style="margin-left:2.5%">
        <p class="mx-8 mt-16 text-l font-bald lg:text-x">
          <b>H</b>eidelberger <b>Ü</b>bersetzungs <b>B</b>ibliographie
        </p>
        <h1 class="mx-8  text-5xl font-bald lg:text-x">
          {% translate "PUBLIKATIONEN" %}
        </h1>
    </div>
    
    <div class="flex flex-auto shadow-lg hover:shadow-xl"  style="margin-bottom: 1rem;">
      <div class="slideshow-container flex flex-col justify-between flex-auto p-6 px-4 bg-sand-300 bg-opacity-25" style="margin-left: 0">
          
          {% for result in object_list %}
            {% if result is not None %}
                <div class="tr_right">
                    <b><h3 style="text-align: left; padding-left: 10px;">{{result.name}}</h3></b>
                    <table style="width: 97%;">
                        <colgroup>
                           <col span="1" style="width: 80%;">
                           <col span="1" style="width: 20%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td style="padding-left: 10px;">
                              <div>{{result.description}}</div>
                            </td>
                            <td style=" text-align: right;">
                              <button class="button">
                                  <a href="{% url "pubPdf" result.id %}">
                                      {% translate "DOWNLOAD" %}
                                  <i style="font-size:24px" class="fa">&#xf019;</i></a>
                              </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="collapsible ">PREVIEW</button>
                      <div class="content">
                        {% if recent is not None %}
                          <a href="{% url "pubPdf" recent.id %}">
                          <img src="{{ recent.preview.url }}">
                        {% endif %}
                        </a>
                      </div>
                </div>
                
            {% endif %}
          {% endfor %}
          <div style="margin-left:0%; margin-bottom:0%; margin-top: auto;">
            {% include "hueb20/includables/pages.html" %}
          </div>
      </div>
    </div>
    <div class="shadow-lg hover:shadow-xl lg:text-sand-bg lg:text-base lg:bg-gray-bg" style="margin-bottom: 2%">
        <form method="POST">{% csrf_token %}
            <div class="font-bald lg:text-x">
                <h2 class="text-3xl" style="text-align: center">{% translate "SUBSCRIBE TO THE NEWSLETTER" %}</h2>
                <div class="text-xl" style="text-align: center">{% translate "Leave name field empty for anonymous subscription" %}</div>
            </div>
            <div>
                <input type="text" placeholder='{% translate "First Name and Last Name" %}' name="name">
                {% if subscribe_form.name.errors %}
                <div class="alert alert-danger alert-dismissible text-l" style="padding: 10px; text-align: center;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>{% translate "Warning!" %}</strong>{{subscribe_form.name.errors}}</div>
                {% endif %}
            </div>
            <div>
                <input type="text" placeholder="E-mail" name="email">
                {% if subscribe_form.email.errors %}
                <div class="alert alert-danger alert-dismissible text-l" style="padding: 10px; text-align: center;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>{% translate "Warning! " %}</strong> {{ subscribe_form.email.errors }}</div>
                {% endif %}
            </div>
            <div style="overflow:hidden;">
                <div style="float:left; width:45%; margin-left: 2.5%">
                    <input style="background-color: #AF0000; border-radius: 0px; font:lg" type="submit" name="unsub" value={% translate "Unsubscribe" %}>
                </div>
                <div style="float:right; width:45%; margin-right: 2.5%">
                    <input style="background-color: #6CBB3C; border-radius: 0px;" type="submit" name="sub" value={% translate "Subscribe" %}>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div id="subPop" class="modal">
      <div class="modal-content card animate-zoom" style="padding:32px; max-width:600px">
        <div class="modal-white modal-container modal-center">
            <h1 class="wide b text-xl text-center">{% translate "Thank you!" %}</h1>
            <h4 class="wide">{% translate "Please check your E-Mail to confirm your subscription." %}</h4>
            <form class="flex" style="justify-content: center;" action="publications">
                <button style="background-color: #6CBB3C; border-radius: 0px;" type="submit" class="modal-button">OK</button>
            </form>
        </div>
      </div>
    </div>
    <div id="unsubPop" class="modal">
      <div class="modal-content card animate-zoom" style="padding:32px; max-width:600px">
        <div class="modal-white modal-container modal-center">
            <h1 class="wide b text-xl text-center">{% translate "We will miss you!" %}</h1>
            <h4 class="wide">{% translate "Please check your E-Mail to confirm your unsubscription." %}</h4>
            <form class="flex" style="justify-content: center;" action="publications">
                <button style="background-color: #6CBB3C; border-radius: 0px;" type="submit" class="modal-button">OK</button>
            </form>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
function showSubPop(){
    document.getElementById("subPop").style.display="block";
    document.getElementById("unsubPop").style.display="none";
}
function showUnsubPop(){
    document.getElementById("subPop").style.display="none";
    document.getElementById("unsubPop").style.display="block";
}
function hidePop(){
    document.getElementById("subPop").style.display="none";
    document.getElementById("unsubPop").style.display="none";
}

{% if successful_subscribed %}
    window.onload = showSubPop;
{% elif successful_unsubscribed %}
    window.onload = showUnsubPop;
{% else %}
    window.onload = hidePop;
{% endif %}
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}

</script>
{% else %}
<div class="fw-full lg:flex-no-wrap lg:flex-none bg-sand-bg" style="margin-left:30%">
        <p class="mx-8 mt-16 text-xl font-bald lg:text-x">
          {% translate "You need to be logged in to access this page. " %}
        </p>
  <a style= "text-align: center;" class="block px-4 py-2 mt-16 align-middle border-4 border-black lg:hover:bg-sand-bg lg:hover:text-gray-bg-darker font-bold border-black hover:border-black"
     @click="overlayOpen = true"> Log in </a>
  </a>
</div>
{% endif %}
{% endblock %}

